* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  background-color:#191919 ;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.first_section {
font-size: 34px;
  font-weight: bold;
 color: white;

}
.menu {
  display: flex;


}
.span_text{
 align-self: center;

}
.menu-item{
  padding:  20px 0px 20px 40px;
}
.menu-link {

  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #fff;
}
.header-text{
  display: flex;
  justify-content: space-between;

}

.container {
  width: 100%;
  height: auto;
  max-width: 1300px;

  margin-left: auto;
  margin-right: auto;
 /*border: 1px solid red;*/
}

.main-img{
  width: 650px;
  height: 873px;
  margin-top: 40px;

}

.main-title{

  font-weight: 400;
  font-size: 70px;
  line-height: 126%;
  letter-spacing: 0.05em;
  color: #fff;
  margin-right: 64px;
}

.one_text {

  font-weight: 400;
  font-size: 75px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #fff;


}

.second_text {

  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #fff;
}
.min_text{

  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 16px;
}
.two_words{
  display: flex;
  gap: 25px;
  margin-bottom: 90px;
}
.main-wrapper{
  display: flex;
  margin-bottom: 100px;
  /*border: 1px solid greenyellow;*/
}

.right-column-main{
  align-self: center;
  margin-left: 60px;
  margin-top: 314px;
  margin-bottom: 130px;

}
.little_logo{
  max-width: 245px;

  display: flex;
  justify-content: space-between;
}

.second_section{

  font-weight: 400;
  font-size: 64px;
  line-height: 124%;
  letter-spacing: 0.05em;
  color: #fff;
}
.header-button{
  font-family: "DM Sans", sans-serif;
  width: 178px;
  height: 51px;
  background-color: #118DA8;
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #fff;
  border-radius: 7px;
  align-self: center;
}
.column-wrapper{

  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;


}
.content-img{
/*max-height: 465px;
  max-width: 389px;*/
 margin-right: 53px;
}
.column-wrapper-content{
  display: flex;

  background-color: black;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 60px;


}
label{
display: inline-block;
  border-radius: 6px;
width: fit-content;
  background: #191919;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  padding-left: 16px;
  padding-right: 16px;

}
.second_section {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #118da8;
}
h1{
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 28px;
  max-width: 701px;
}
p{
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
  max-width: 757px;
  margin-bottom: 18px;
}
.right_colum_in_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right_colum_in_content > button{
  align-self: start;
}

.image-link {
  display: inline-block;
  position: relative; /* чтобы вложенные картинки позиционировались внутри */

}

.image-link img {
  display: block;
}

.img-back {
  position: relative; /* обычное положение */
}

.img-front {
  position: absolute; /* поверх */
  top: 25px;
  left: 5px;
}
.min-logo{
  margin-bottom: 20px;
}
.last_column{

  font-weight: 400;
  font-size: 18px;
 line-height: 150%;
  color: #118da8;
  /*margin-left: -113px;
  margin-top: 20px;*/
}

h2 {

  font-weight: 400;
  font-size: 65px;
  line-height: 122%;
  letter-spacing: 0.04em;
  color: #fff;
  margin-bottom: 28px;
}

.left-column-main-second{
  align-self: center;
  margin-right: 60px;

}

.right-column-main-second{

}

.main-img-second{
  /*margin: 100px 70px 100px 60px;*/
}

.my-last-p{
  margin-top: 33px;
}

.main-wrapper-second{
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
  /*border: 1px solid greenyellow;*/
}